<body>
    <!-- Header Start -->
    <div class="container-fluid about-page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">About</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="/">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">About</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Booking Start -->
    
    <!-- Booking End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="position-relative h-100">
                    <img class="w-100" src="https://drive.google.com/uc?export=download&id=1NYzydikDYVj9Vsn0ob3ki31d1Ee4ydmn" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text bg-white p-4">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h6>
                    <h1 class="mb-3">We Provide Best Tour Packages In Your Budget</h1>
                    <p>We feel obliged to introduce our venture "TRAVEL DESK" an unit of ANAN Aviations & Hospitality Pvt. Ltd., as an entity which takes care of any tour and travel requirement of its esteemed clients at all levels.Since inception in 2012, Travel Desk has been venturing with clients from all geographies and making utmost effort to provide best deals available to its clients.</p>
                    <p>Apart from ticketing for both domestic and international flights, we also provide worldwide hotel bookings and visas and tour packages. Travel Desk is an one stoppe enterprise that offers complete range of services for corporate travelers. Superior knowledge,Customer Satisfaction, efficient planning and anticipation to resolve potential problems along the way are the reasons behind our success.</p>
                    <a style="margin-top: 20px;" href="/contact" class="btn btn-primary">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="feature-container container-fluid pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-money-check-alt text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Affordable Pricing</h5>
                        <p class="m-0">Traveldesk's all services will be under your budget</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-award text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Best Services</h5>
                        <p class="m-0">Traveldesk's services will be sufficient for your budget, time, and safety</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-clock text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">24X7 Support</h5>
                        <p class="m-0">Our team are always ready for our customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


        <!-- our partners Start -->
        <div class="container-fluid">
            <div class="container">
                <div class="text-center mb-3 pb-3">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">our partners</h6>
                    <h1>Authorized Partners</h1>
                </div>
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=1WMW9vHk13S-s0p_Tauip_kRqk7_yI2JI" style="height:200px;width:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=1kcPwXfNUGgV0dS7Zgc_lKOXR4Pb-lQr4" style="height:200px;width:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=1qk5e180CLTC_YKD9gpEJhSie0oCe66d8" style="height:200px;width:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=138hbRoc7JnP_cTnOMo725magvVI1J7Ln" style="height:200px;width:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=1bSZZz49wj2uAJcgsmVa7vtpuN-pQSsHn" style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=1AAvQIjNN7HN5P_3Y9yjjUigM9_eKUfTp" style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=12Ie0Ey9sucBSUntdOX1QOY08lsjn0E41" style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=1CG4grVPm0c4SEqGbL76-OtDQ93FRUofo" style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=1C_W4Pu9YWJOEGt_b0mmAcchkd1GN9CRe" style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=1tly74gKg9uh37CPjuBsZozGaMGUdw-qs" style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto" src="https://drive.google.com/uc?export=download&id=1iy5WwJL9vTZdhb04EzWK4S_zQ6U_t8TH" style="height:200px;">
    
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- our partners End -->
</body>