<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description"
        content="Traveldesk provides best tours services, traveldesk all services will be under your budget,you should try traveldeskindia">
    <meta name="keywords"
        content="traveldesk, traveldeskinida, travels, travel desk india, travel desk, travel deks,best travel services in delhi, best travel services in india, cheap travel services in india, cheap travel services in delhi,">
    <title>Traveldesk - take your trip</title>
    <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=download&id=1mVmrMzXwfKRvw-Uk0SUSlWDkkENh9EVv">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Travel" name="keywords">
    <meta content="Book your next trip now" name="description">


    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/app.css" rel="stylesheet">
    <!-- <script>
        function logoClick(){
            console.log('done')
        }
    </script> -->
    <script src="../../server.js"></script>
</head>

<body>
    <!-- Navbar Start -->
    <div class="nav-bar p-0">
        <div class="p-0 header-bg px-lg-3" style="z-index: 9;position: absolute;top: 0;left: 0;right: 0;">
            <nav class="myNav navbar navbar-expand-lg navbar-light">
                <a class="logoOverlay" href="/"></a>
                <img style="cursor:pointer;" onclick="logoClick()" class="logo-img" src="../img/white-logo.png" alt="">

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/about" class="nav-item nav-link active">About</a>
                        <a href="/service" class="nav-item nav-link">Services</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

        <!-- Header Start -->
        <div class="container-fluid about-page-header">
            <div class="container">
                <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                    <h3 class="display-4 text-white text-uppercase">About Us</h3>
                    <div class="d-inline-flex text-white">
                        <p class="m-0 text-uppercase"><a class="text-white" href="/">Home</a></p>
                        <i class="fa fa-angle-double-right pt-1 px-3"></i>
                        <p class="m-0 text-uppercase">About</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    
        <!-- About Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="position-relative h-100">
                            <img class="w-100"
                                src="https://drive.google.com/uc?export=download&id=1NYzydikDYVj9Vsn0ob3ki31d1Ee4ydmn"
                                style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-text bg-white p-4">
                            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h6>
                            <h1 class="mb-3">We Provide Best Tour Packages In Your Budget</h1>
                            <p>We feel obliged to introduce our venture "TRAVEL DESK" an unit of ANAN Aviations &
                                Hospitality Pvt. Ltd., as an entity which takes care of any tour and travel requirement of
                                its esteemed clients at all levels.Since inception in 2012, Travel Desk has been venturing
                                with clients from all geographies and making utmost effort to provide best deals available
                                to its clients.</p>
                            <p>Apart from ticketing for both domestic and international flights, we also provide worldwide
                                hotel bookings and visas and tour packages. Travel Desk is an one stoppe enterprise that
                                offers complete range of services for corporate travelers. Superior knowledge,Customer
                                Satisfaction, efficient planning and anticipation to resolve potential problems along the
                                way are the reasons behind our success.</p>
                            <a style="margin-top: 20px;" href="/contact" class="btn btn-primary">Contact Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
    
    
        <!-- Feature Start -->
        <div class="feature-container container-fluid pb-5">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-flex mb-4 mb-lg-0">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                                style="height: 100px; width: 100px;">
                                <i class="fa fa-2x fa-money-check-alt text-white"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="">Affordable Pricing</h5>
                                <p class="m-0">Traveldesk's all services will be under your budget</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex mb-4 mb-lg-0">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                                style="height: 100px; width: 100px;">
                                <i class="fa fa-2x fa-award text-white"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="">Best Services</h5>
                                <p class="m-0">Traveldesk's services will be sufficient for your budget, time, and safety
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex mb-4 mb-lg-0">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                                style="height: 100px; width: 100px;">
                                <i class="fa fa-2x fa-clock text-white"></i>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="">24X7 Support</h5>
                                <p class="m-0">Our team are always ready for our customers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->
    
    
        <!-- our partners Start -->
        <div class="container-fluid">
            <div class="container">
                <div class="text-center mb-3 pb-3">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">our partners</h6>
                    <h1>Authorized Partners</h1>
                </div>
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=1WMW9vHk13S-s0p_Tauip_kRqk7_yI2JI"
                                style="height:200px;width:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=1kcPwXfNUGgV0dS7Zgc_lKOXR4Pb-lQr4"
                                style="height:200px;width:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=1qk5e180CLTC_YKD9gpEJhSie0oCe66d8"
                                style="height:200px;width:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=138hbRoc7JnP_cTnOMo725magvVI1J7Ln"
                                style="height:200px;width:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=1bSZZz49wj2uAJcgsmVa7vtpuN-pQSsHn"
                                style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=1AAvQIjNN7HN5P_3Y9yjjUigM9_eKUfTp"
                                style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=12Ie0Ey9sucBSUntdOX1QOY08lsjn0E41"
                                style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=1CG4grVPm0c4SEqGbL76-OtDQ93FRUofo"
                                style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=1C_W4Pu9YWJOEGt_b0mmAcchkd1GN9CRe"
                                style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=1tly74gKg9uh37CPjuBsZozGaMGUdw-qs"
                                style="height:200px;">
    
                        </div>
                    </div>
                    <div class="text-center pb-4">
                        <div class="testimonial-text bg-white p-4">
                            <img class="img-fluid mx-auto"
                                src="https://drive.google.com/uc?export=download&id=1iy5WwJL9vTZdhb04EzWK4S_zQ6U_t8TH"
                                style="height:200px;">
    
                        </div>
                    </div>
    
    
                </div>
            </div>
        </div>
        <!-- our partners End -->

    <%- include('./components/footer.ejs') -%>


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="../lib/easing/easing.min.js"></script>
        <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../lib/tempusdominus/js/moment.min.js"></script>
        <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


        <!-- Template Javascript -->
        <!-- <script src="../../server.js"></script> -->
        <script src="../js/main.js"></script>
        <script src="../js/app.js"></script>

</body>

</html>