<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description"
        content="Traveldesk provides best tours services, traveldesk all services will be under your budget,you should try traveldeskindia">
    <meta name="keywords"
        content="traveldesk, traveldeskinida, travels, travel desk india, travel desk, travel deks,best travel services in delhi, best travel services in india, cheap travel services in india, cheap travel services in delhi,">
    <title>Traveldesk - take your trip</title>
    <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=download&id=1mVmrMzXwfKRvw-Uk0SUSlWDkkENh9EVv">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Travel" name="keywords">
    <meta content="Book your next trip now" name="description">


    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/app.css" rel="stylesheet">
    <!-- <script>
        function logoClick(){
            console.log('done')
        }
    </script> -->
    <script src="../../server.js"></script>
</head>

<body>
    <!-- Navbar Start -->
    <div class="nav-bar p-0">
        <div class="p-0 header-bg px-lg-3" style="z-index: 9;position: absolute;top: 0;left: 0;right: 0;">
            <nav class="myNav navbar navbar-expand-lg navbar-light">
                <a class="logoOverlay" href="/"></a>
                <img style="cursor:pointer;" onclick="logoClick()" class="logo-img" src="../img/white-logo.png" alt="">

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/service" class="nav-item nav-link">Services</a>
                        <a href="/contact" class="nav-item nav-link active">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Header Start -->
<div class="container-fluid contact-page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Contact</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="/">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Contact</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Contact</h6>
            <h1>Contact For Any Query</h1>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-6 p-0">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d890.9630220995359!2d88.42357452919924!3d26.71717189687487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e4416b3242f229%3A0x44e0b048ae90863c!2sSevoke%20Rd%2C%20Ward%2011%2C%20Hakim%20Para%2C%20Siliguri%2C%20West%20Bengal%20734001!5e0!3m2!1sen!2sin!4v1663837331153!5m2!1sen!2sin"
                    width="100%" height="425" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-6 p-0">
                <div class="contact-form bg-white" style="padding: 30px;">
                    <form action="/contact_mail" method="post">

                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <input pattern="^[a-zA-Z_ ]*$" type="text" name="name" class="form-control p-4"
                                    id="name" placeholder="Your Name" title="name must be alphabetic"
                                    required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-6">
                                <input type="email" name="email" class="form-control p-4" id="email"
                                    placeholder="Your Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                    title="Please type right mail" required="required"
                                    data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <input type="text" name="subject" class="form-control p-4" id="subject"
                                placeholder="Subject" required="required"
                                data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control py-3 px-4" name="massage" rows="5" id="massage"
                                placeholder="Message" required="required"
                                data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary py-3 px-4">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div style="text-align: center;" class="row justify-content-between">
            <div class="col-lg-3 contact-box">
                <a href="https://goo.gl/maps/S8PERzjuhyV21nhM8" style="margin-top:15px;"><i
                        class="fa fa-map-marker-alt mr-2"></i>1st floor, Rashik Lal Ghosh Sarani Opp Hotel Gateway,
                    Sevoke Road Siliguri-734001</a>

            </div>
            <div class="col-lg-3 contact-box">
                <a href="https://goo.gl/maps/BCxd27sqPD7hkWCKA" style="margin-top:15px;"><i
                        class="fa fa-map-marker-alt mr-2"></i>Sagar kuni, Patel Road, Pradhan Nagar, Siliguri-734003</a>
            </div>
            <div class="col-lg-3 contact-box">
                <a style="margin-top: 15px;" href="tel:8348834838"><i class="fa fa-phone-alt mr-2"></i>+91 83488
                    34838</a>
                <br>
                <a href="tel:9734748972"><i class="fa fa-phone-alt mr-2"></i>+91 97347 48972</a>
            </div>
            <div class="col-lg-3 contact-box">
                <a href="mailto:support@traveldeskindia.com" style="margin-top:35px;"><i
                        class="fa fa-envelope mr-2"></i>support@traveldeskindia.com</a>
                <a href="https://wa.me/+919734748972" style="margin-top:35px;"><i class="fab fa-whatsapp mr-2"></i>97347
                    48972</a>

            </div>
        </div>
    </div>
</div>

<%- include('./components/footer.ejs') -%>

<!-- Contact End -->
<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
    function sendmail() {
        let name = document.getElementById("name").value;
        let email = document.getElementById("email").value;
        let subject = document.getElementById("subject").value;
        let massage = document.getElementById("massage").value;


        Email.send({
            Host: "smtp.elasticemail.com",
            Username: "trymail237@gmail.com",
            Password: "D7672DD98FA66286A8E8D62C860BACE86BA3",
            To: 'support@traveldeskindia.com',
            From: "trymail237@gmail.com",
            Subject: `enquiry from ${name}`,
            Body: `Name:- ${name}<br>
                    Email:- ${email}<br>
                    subject:- ${subject}<br>
                    message:- ${massage}`,
        });
        alert('your message has been sent successfully')
    }

</script>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="../lib/easing/easing.min.js"></script>
        <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../lib/tempusdominus/js/moment.min.js"></script>
        <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


        <!-- Template Javascript -->
        <!-- <script src="../../server.js"></script> -->
        <script src="../js/main.js"></script>
        <script src="../js/app.js"></script>

</body>

</html>