<body>
    <!-- Topbar Start -->
    
    <!-- Topbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="min-height:500px;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            
                            <h4 style="margin-top: -70px;" class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
                            <div class="animated-text">
                                <div class="line text-white">
                                    Let's Discover
                                </div>
                                <div class="line text-white">
                                    The World
                                </div>
                                <div class="line text-white">
                                    Together
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                
                    <span class="carousel-control-prev-icon mb-n2"></span>
                
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
         
                    <span class="carousel-control-next-icon mb-n2"></span> -->
                
            </a>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- services start -->
    <div class="container-fluid booking services mt-5 pb-5">
        <div class="container pb-5">
            <div class="service-container bg-light shadow" style="padding: 30px;">
                <div class="row align-items-center" style="min-height: 60px;">
                
                            <div class="service-box col-md-3">
                                <a href="/service/flight-booking">
                                    <img src="../img/flight-booking.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-box col-md-3">
                                <a href="/service/charter-booking">
                                    <img src="../img/charter-booking.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-box col-md-3">
                                <a href="/service/hotel-booking">
                                    <img src="../img/hotel-booking.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-box col-md-3">
                                <a href="/service/package">
                                    <img src="../img/tour-packages.jpg" alt="">
                                </a>
                            </div>
                            <div class="service-box col-md-3">
                                <a href="/service/air-ambulance">
                                    <img src="../img/air-ambulance.jpg" alt="">
                                </a>
                            </div>

                            <div class="service-box col-md-3">
                                <a href="/service/visa-application">
                                    <img src="../img/visa-application.jpg" alt="">
                                </a>
                            </div>

                            <div class="service-box col-md-3">
                                <a href="/service/forex-service">
                                    <img src="../img/forex-services.jpg" alt="">
                                </a>
                            </div>

                            <div class="service-box col-md-3">
                                <a href="/service/travel-insurance">
                                    <img src="../img/travel-insurance.jpg" alt="">
                                </a>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- services end -->

    <!-- About Start -->
    <div class="container-fluid pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="position-relative h-100">
                        <img class="w-100" src="https://drive.google.com/uc?export=download&id=1NYzydikDYVj9Vsn0ob3ki31d1Ee4ydmn" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text bg-white p-4">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h6>
                        <h1 class="mb-3">We Provide Best Tour Packages In Your Budget</h1>
                        <p>We feel obliged to introduce our venture "TRAVEL DESK" an unit of ANAN Aviations & Hospitality Pvt. Ltd., as an entity which takes care of any tour and travel requirement of its esteemed clients at all levels.Since inception in 2012, Travel Desk has been venturing with clients from all geographies and making utmost effort to provide best deals available to its clients.</p>
                        <p>Apart from ticketing for both domestic and international flights, we also provide worldwide hotel bookings and visas and tour packages. Travel Desk is an one stoppe enterprise that offers complete range of services for corporate travelers. Superior knowledge,Customer Satisfaction, efficient planning and anticipation to resolve potential problems along the way are the reasons behind our success.</p>
                        <a style="margin-top: 20px;" href="/contact" class="btn btn-primary">Contact Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="feature-container container-fluid pb-5">
        <div class="container pb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-money-check-alt text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">Affordable Pricing</h5>
                            <p class="m-0">Traveldesk's all services will be under your budget</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-award text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">Best Services</h5>
                            <p class="m-0">Traveldesk's services will be sufficient for your budget, time, and safety</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-clock text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">24X7 Support</h5>
                            <p class="m-0">Our team are always ready for our customers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Destination Start -->
    <div class="container-fluid">
        <div class="container pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
                <h1>Explore Top Destination</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1BTyuJTurwsedmupZYq72U1gEnf3wnC6v" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="/tour-package/darjeeling">
                            <h5 class="text-white">Darjeeling</h5>
                             
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1mPUjoAlaAAS4prgX0AsUEXNalMbMNuBl" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="/tour-package/sikkim">
                            <h5 class="text-white">Sikkim</h5>
                             
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1hea7AvtK1fooEP55p8zmToecuESCHMkS" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="/tour-package/sikkim-darjeeling">
                            <h5 class="text-white">Darjeeling-Sikkim</h5>
                             
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1HtSzZUhyun9u3rb_Vc-uuzmA_AyoWiIi" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="/tour-package/dooars">
                            <h5 class="text-white">Dooars</h5>
                             
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1KhMZkwcTFdjkYwV3ZRlzvNDKHMhwpEDx" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="/tour-package/northeast">
                            <h5 class="text-white">Northeast</h5>
                             
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1FmE2FSu4lQInI_rlLji80gXXwxUUYZ0l" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="/tour-package/bhutan">
                            <h5 class="text-white">Bhutan</h5>
                             
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Destination END -->
</body>
