<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Traveldesk provides best tours services, traveldesk all services will be under your budget,you should try traveldeskindia">
    <meta name="keywords" content="traveldesk, traveldeskinida, travels, travel desk india, travel desk, travel deks,best travel services in delhi, best travel services in india, cheap travel services in india, cheap travel services in delhi,">
    <title>Traveldesk - take your trip</title>
    <link rel="icon" type="image/x-icon" href="traveldesk-favicon.ico">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Travel" name="keywords">
    <meta content="Book your next trip now" name="description">


    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/app.css" rel="stylesheet">
    <!-- <script>
        function logoClick(){
            console.log('done')
        }
    </script> -->
    <script src="../../server.js"></script>
</head>
<body>
<!-- Navbar Start -->
<div class="nav-bar p-0">
    <div class="p-0 header-bg px-lg-3" style="z-index: 9;position: absolute;top: 0;left: 0;right: 0;">
        <nav class="myNav navbar navbar-expand-lg navbar-light">
            <a class="logoOverlay" href="/"></a>
            <img style="cursor:pointer;" onclick="logoClick()" class="logo-img" src="../img/white-logo.png" alt="">
            
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                    <a href="/service" class="nav-item nav-link">Services</a>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
    <%- body%>
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
        
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="" class="navbar-brand">
                <img class="footer-logo-img" src="../img/white-logo.png" alt="">
            </a>
            <p style="margin-top:15px !important;"> We feel obliged to introduce our venture "TRAVEL DESK" an unit of ANAN Aviations & Hospitality Pvt</p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Follow Us</h6>
            <div class="justify-content-start">
                <a class="btn btn-outline-primary btn-square mr-2" href="https://wa.me/+919734748972"><i class="fab fa-whatsapp"></i></a>
                <a class="btn btn-outline-primary btn-square mr-2" href="https://www.facebook.com/traveldesk24X7"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Our Services</h5>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" href="service/flight-booking"><i class="fa fa-angle-right mr-2"></i>Flight Booking</a>
                <a class="text-white-50 mb-2" href="service/charter-booking"><i class="fa fa-angle-right mr-2"></i>Charter Booking</a>
                <a class="text-white-50 mb-2" href="service/hotel-booking"><i class="fa fa-angle-right mr-2"></i>Hotel Booking</a>
                <a class="text-white-50 mb-2" href="service/package"><i class="fa fa-angle-right mr-2"></i>Tour Packages</a>
                <a class="text-white-50 mb-2" href="service/air-ambulance"><i class="fa fa-angle-right mr-2"></i>Air Ambulance</a>
                <a class="text-white-50 mb-2" href="service/visa-application"><i class="fa fa-angle-right mr-2"></i>Visa Application</a>
                <a class="text-white-50 mb-2" href="service/forex-service"><i class="fa fa-angle-right mr-2"></i>Forex Services</a>
                <a class="text-white-50" href="service/travel-insurance"><i class="fa fa-angle-right mr-2"></i>Travel Insurance</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Pages</h5>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                <a class="text-white-50 mb-2" href="/about"><i class="fa fa-angle-right mr-2"></i>About</a>
                <a class="text-white-50 mb-2" href="/service"><i class="fa fa-angle-right mr-2"></i>Services</a>
                <a class="text-white-50 mb-2" href="/contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contact Us</h5>
            <p><i class="fa fa-map-marker-alt mr-2"></i>1st floor, Rashik Lal Ghosh Sarani Opp Hotel Gateway, Sevoke Road Siliguri-734001</p>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Sagar kuni, Patel Road, Pradhan Nagar, Siliguri-734003</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+91 83488 34838</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+91 97347 48972</p>
            <p><i class="fa fa-envelope mr-2"></i>support@traveldeskindia.com</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white-50">Designed by <a style="text-decoration:underline;" href="https://wa.me/+919662753526">Solo devloper</a>
            </p>
          
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <p class="m-0 text-white-50">Copyright © 2023 <a style="text-decoration:underline;">TraveldeskIndia</a> All Rights Reserved.</p>
        </div>
    </div>
</div>
<!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <!-- <script src="../../server.js"></script> -->
    <script src="../js/main.js"></script>
    <script src="../js/app.js"></script>

</body>
</html>