<!-- Header Start -->
<div class="container-fluid air-ambulance-page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Air Ambulance</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="/service">Services</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Air Ambulance</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Booking Start -->
<div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="booking-container bg-light shadow" style="padding: 30px;">
    
            <div class="row align-items-center" style="min-height: 60px;">

                <div class="row align-items-center">

                    <div class="col-lg-12">                          
                        <h3 style="color:#D34619;">Emergency Enquiry: 9734748972</h3>
                    </div>
                </div>
                
                    <div class="col-md-10">
                        <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input pattern="^[a-zA-Z_ ]*$" title="Here you can use only alphabets" type="text" id="name" name="name" class="form-control p-4" placeholder="Name"/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input pattern="\d{10}" title="number must be 10 digit" type="text" id="number" name="number" class="form-control p-4" placeholder="Contact no"/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input type="text" name="remark" id="msg" class="form-control p-4" placeholder="Remarks"/>
                                </div>
                            </div>
                        </div>
                        </div>          
                    </div> 
                    
                    
                    <div class="col-md-2">
                        <button onclick="sendmail()" class="btn btn-primary btn-block" style="height: 47px; margin-top: -2px;">Submit</button>
                    </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://drive.google.com/uc?export=download&id=1R5YACIhSl0WqgiGxw0KzjHQx5TAXr4f_" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h1 class="mb-3">Air ambulance services India</h1>
                    <p>as the term suggests is an emergency service that makes the use of helicopters and airplanes to move patients to the hospital.

                        Although the job of all air transport is to help a person move from one place to another, air ambulance services in India's main aim remains to fly people to save their lives in situations that are life threatening. Anan Aviations & Hospitality Pvt Ltd is one of the best air ambulance service providers. We provide Air Ambulance services for international destinations like Europe, USA, Singapore and Middle east countries amongst others.
                        
                        Get a quote for international Air Ambulance
                        
                        At Anan Aviations & Hospitality Pvt Ltd , we can bring patients from any part of the world</p>

                    <h4>
                        Air ambulance available from
Delhi | Mumbai | Hyderabad | Kolkata Guwahati |Patna |Raipur | Kerala | Chennai 
                    </h4>
                    <a href="" class="btn btn-primary mt-1">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="margin: 90px 0;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">

                    <h1 class="text-white"><span class="text-primary">What are Air Ambulances used for?</span></h1>
                </div>
                <p>The use of air ambulances dates back to World War I, where it helped provide medical evacuation. However, the role and use of it later also included providing medical assistance to civilians in the times of life threatening situations.

                    Air ambulances are fast and swift to move patients from a place to the other. Each of these air ambulances has extremely well trained medical personnel to ensure the patient's life is sustained until they reach the hospital. Along with that, air ambulance services in India have monitors and various other medical equipment and tools are stocked up for sustaining the patient’s life.
                    
                    Air ambulances are fast and swift to move patients from a place to the other. Each of these air ambulances has extremely well trained medical personnel to ensure the patient's life is sustained until they reach the hospital. Along with that, air ambulance services in India have monitors and various other medical equipment and tools are stocked up for sustaining the patient’s life.
                    
                    In a busy country like India where traffic issues are a normal thing, air ambulances turn out as saviours. Time undeniably remains a very important thing when it comes to saving a person’s life. Hence, reaching the hospital without wasting time clogged into traffic remains a very important point. That is when air ambulances come in.</p>

            </div>
            <div class="col-lg-5">
                <img style="height:100%; width: 100%;" src="https://drive.google.com/uc?export=download&id=1-pgLWbkD-1EBdFvjXgTILiorpu4500iR" alt="">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://drive.google.com/uc?export=download&id=1IYvlV4_6gwWavaTBM4p-vYZz4JRim4I9" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h1 class="mb-3">What is the cost of air ambulance in India?</h1>
                    <p>The air ambulance services cost is generally based on an per hour basis. Approximately the cost per hour is around 95K to even lakhs.

                        The cost of air ambulance services in India also depends on the factors in which you are flying. Generally, the service cost is pricier than the normal ambulances. However, when you compare the facility and swiftness it provides compared to other ambulances, it is worth every rupee.</p>

                    <h1 class="mb-3">
                        How can I book an air ambulance in India?
                    </h1>
                    <p>For booking the best air ambulance service you just get on a call with us. Our executives are there present all hours of the clock to help and guide you throughout the process. Hence, you have to hassle around booking your air ambulance in times of emergency.</p>
                    <a href="" class="btn btn-primary mt-1">Contact Us Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
    function sendmail(){
        let name = document.getElementById("name").value;
        let number = document.getElementById("number").value;
        let msg = document.getElementById("msg").value;


        Email.send({
        Host : "smtp.elasticemail.com",
        Username : "trymail237@gmail.com",
        Password : "D7672DD98FA66286A8E8D62C860BACE86BA3",
        To : 'support@traveldeskindia.com',
        From : "trymail237@gmail.com",
        Subject : `Air ambulance booked from ${name}`,
        Body : `Name:- ${name}<br>
                Number:- ${number}<br>
                Message:- ${msg}`,
        });
        alert('your message has been sent successfully')
    }

</script>