<%- include('../components/navbar.ejs') -%>
<!-- Header Start -->
<div class="container-fluid flight-booking-page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Flight Booking</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="/service">Services</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Flight Booking</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Booking Start -->
<div class="container-fluid booking mt-5">
    <div class="container">
        <div class="booking-container bg-light shadow" style="padding: 30px;">
            <form action="/book_flight" method="post">
            <div class="row align-items-center" style="min-height: 60px;">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <input onclick="getData()" type="text" id="from" name="from" class="form-control p-4" placeholder="From(place)" />

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <!-- <select class="custom-select px-4" style="height: 47px;">
                                    <option selected>To</option>
                                    <option value="1">Duration 1</option>
                                    <option value="2">Duration 1</option>
                                    <option value="3">Duration 1</option>
                                </select> -->
                                <input type="text" id="to" name="to" class="form-control p-4" placeholder="To(place)" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input title="Here you can type only date" required type="text" id="onwarddate" name="onwarddate" class="form-control p-4 datetimepicker-input" placeholder="Onward date" data-target="#date1" data-toggle="datetimepicker"/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input title="Here you can type only date" type="text" id="returndate" name="returndate" class="form-control p-4 datetimepicker-input" placeholder="Return date" data-target="#date2" data-toggle="datetimepicker"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input pattern="\d{10}" title="number must be 10 digit" required type="text" id="number" name="number" class="form-control p-4" placeholder="Contact no"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input pattern="^[a-zA-Z_ ]*$" title="Here you can use only alphabets" type="text" id="name" name="name" class="form-control p-4" placeholder="Name"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" id="email" name="email" class="form-control p-4" placeholder="Email Id"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="mb-3 mb-md-0">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input type="text" id="msg" name="msg" class="form-control p-4" placeholder="Remarks"/>
                                </div>
                            </div>
                        </div>
        
                    </div>
                    
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-block" style="height: 47px; margin-top: -2px;">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Booking End -->


<!-- content Start -->

<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://drive.google.com/uc?export=download&id=1-WPLJjY89JaMUWqtKTRvolJAu1Fq3GKc" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h1 class="mb-3">FLIGHT BOOKINGS</h1>
                    <p>One-way, Round-Trip, First Class, Business Class, Coach, Charter a Flight & Many More.</p>

                    <h1 class="mb-3">
                        NO DISTANCE IS TOO FAR
                    </h1>
                    <p>To get the most out of your travel experience it is important to understand choices and how they work, We can help.</p>
                    <a href="" class="btn btn-primary mt-1">Contact Us Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Feature Start -->
 <div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-money-check-alt text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Affordable Pricing</h5>
                        <p class="m-0">Traveldesk all services will be under your budget</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-award text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Best Services</h5>
                        <p class="m-0">Traveldesk services will be sufficient for your budget, time, and safety</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-clock text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">24X7 Support</h5>
                        <p class="m-0">Our team are always ready for our customers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
<script src="/bookService.js"></script>

<script>
    // function mail(){
    //         let name = document.getElementById("name").value;
    //         let email = document.getElementById("email").value;
    //         let number = document.getElementById("number").value;
    //         let onwarddate = document.getElementById("onwarddate").value;
    //         let returndate = document.getElementById("returndate").value;
    //         let from = document.getElementById("from").value;
    //         let to = document.getElementById("to").value;
    //         let msg = document.getElementById("msg").value;


    //     Email.send({
    //     Host : "smtp.elasticemail.com",
    //     Username : "trymail237@gmail.com",
    //     Password : "D7672DD98FA66286A8E8D62C860BACE86BA3",
    //     To : 'support@traveldeskindia.com',
    //     From : "trymail237@gmail.com",
    //     Subject: name+" Booked Flight",
    //     Body: "Flight Booking Mail<br>"+"From: "+from+"<br>"+"To: "+to +"<br>"+"Name: "+name+"<br>Email: "+email+"<br>Contact No: "+number+"<br>Onward Date: "+onwarddate+"<br>Onward Date: "+returndate+"<br>Client requirement: "+msg
    //     });
    //     alert('your message has been sent successfully')
    // }

</script>
<%- include('../components/footer.ejs') -%>