    <!-- Header Start -->
    <div class="container-fluid tour-packages-page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Packages</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="/service">Services</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Packages</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- packeges  Start -->
    <div class="container-fluid packages booking mt-5 pb-5">
        <div style="text-align:center;" class="container pb-5">
            <div class="bg-light shadow" style="padding: 40px 40px 0 40px;padding-bottom: 90px;">
                <div class="row">
                    <div class="col-lg-6 col-md-10 col-sm-12">
                            <img class="w-100 h-100" src="../../img/domestic-tour.jpg" alt="">

                        
                        <div class="dropdown">
                            <button class="dropbtn">Domestic Tour</button>
                            <div class="dropdown-content">
                              <a href="/tour-package/darjeeling">Darjeeling</a>
                              <a href="/tour-package/sikkim">Sikkim</a>
                              <a href="/tour-package/northeast">Northeast</a>
                              <a href="/tour-package/sikkim-darjeeling">Darjeeling & Sikkim</a>
                              <a href="/tour-package/dooars">Dooars</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-6 col-md-10 col-sm-12">
                      
                            <img class="w-100 h-100" src="../../img/international-tour.jpg" alt="">

                        
                        <div class="dropdown">
                            <button class="dropbtn">international Tour</button>
                            <div class="dropdown-content">
                              <a href="/tour-package/bhutan">Bhutan</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- packeges End -->

   <!-- Destination Start -->
   <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
            <h1>Explore Top Destination</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1BTyuJTurwsedmupZYq72U1gEnf3wnC6v" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="/tour-package/darjeeling">
                        <h5 class="text-white">Darjeeling</h5>
                         
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=194sshROBLdqwbO-OXE3-qYQaO6uQM15M" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="/tour-package/sikkim">
                        <h5 class="text-white">Gangtok</h5>
                         
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1hea7AvtK1fooEP55p8zmToecuESCHMkS" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="/tour-package/sikkim">
                        <h5 class="text-white">Lachen</h5>
                         
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1-We_MkrnMQ6m52N9zEYMO5RbxYQzaBgC" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="/tour-package/sikkim">
                        <h5 class="text-white">Lachung</h5>
                         
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1KhMZkwcTFdjkYwV3ZRlzvNDKHMhwpEDx" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="/tour-package/northeast">
                        <h5 class="text-white">Arunachal-pradesh</h5>
                         
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="destination-img img-fluid" src="https://drive.google.com/uc?export=download&id=1FmE2FSu4lQInI_rlLji80gXXwxUUYZ0l" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="/tour-package/bhutan">
                        <h5 class="text-white">Bhutan</h5>
                         
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Destination END -->