<!-- Header Start -->
<div class="container-fluid visa-application-page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Visa Application</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="/service">Services</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Visa Application</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Packages Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">our visa services</h6>
            <h1>Visa Checklist</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="../img/russia-flag.jpg" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Russia Tourist Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1Lh_Z_4wi2jGtvaecbOJGyWB_Z2QVxIBW/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="../img/thailand-flag.png" alt="">
                    <div class="p-4">

                        <a class="h5 text-decoration-none" href="">Thailand E-visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1iSe-OoDbmEkpVQB8VDw4xZRSYYZibVSW/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="../img/turkey-flag.png" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Turkey Tourist Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1_BJVpM2rJv3PRCFbV2n6JLsmpI5NgFIP/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="../img/uk-flag.png" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Uk Visit Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1SuTorui2UB3qny4DcdEaz0uO2T_4q6aa/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="../img/usa-flag.webp" alt="">
                    <!-- <iframe style="height:70%;width: 100%;" src="https://drive.google.com/file/d/1CUdZO1n41e5JEUH0SfEmKNBmBAB2QLSs/preview" width="640" height="480" allow="autoplay"></iframe> -->

                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Usa Tourist Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1CUdZO1n41e5JEUH0SfEmKNBmBAB2QLSs/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="../img/canada-flag.png" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Canada Visitor Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1U9EfAvdDv6H2rvdH-CA6KvSd7gaFRjw5/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="../img/france-flag.png" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">France Visitor Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1jFlhZv6rMIgQEHtQZGr4eYvgEEDncP2A/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="../img/greece-flag.png" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Greece Tourist Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1d91UYGDn7hCcJ3PMD3r1RZPJoStcH9c6/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img"
                        src="https://drive.google.com/uc?export=download&id=1cQwGZj-i7mftdRRe8locF_m_KHbGrD6B" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Italy Tourist Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/15iZkkqrMuuYhWDV6RbgQ60r1FiE7Iyol/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img"
                        src="https://drive.google.com/uc?export=download&id=1QwfN3hC-w_RVZvz0oJijdBoUpbiVBNkC" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Jordan Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/156pBUL2q3Q-knnUc_iBmtTotTyMgtVtx/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img"
                        src="https://drive.google.com/uc?export=download&id=14xoL4tF5F15AEmfkmD9wbr9_YyA302Ck" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Philippines Tourist - Visitor Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1G2lGELTGZtFgHc44b5CF7inlN-30wUO6/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img"
                        src="https://drive.google.com/uc?export=download&id=1gBHsgcefxuNJk08B8N0ofgyhp-e3u2Tq" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Germany Visit Visa</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1179HaRwBxgsc7YmlPYl6H_-ntbve52VG/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img"
                        src="https://drive.google.com/uc?export=download&id=14wz9wWUxrohd8hZrg-E3tl_3lijO92zV" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">Malaysia Tourist E-visa (15 days single entry)</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1HJgjXJ1I2_0aMuOEQjWPFqNBuzMYZ8CY/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="visa-package-item bg-white mb-2">
                    <img class="img-fluid package-img"
                        src="https://drive.google.com/uc?export=download&id=1el_YCaGg0LBOv7CYPrB1iq3mnJTkqrKy" alt="">
                    <div class="p-4">
                        <a class="h5 text-decoration-none" href="">UAE 30 Days Single Entry(17 files merged)</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/10YSOpyFbwK72Bq9sRYEJJIva4-3-LYt7/view">
                                    <button class="pkg-btn">See More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Packages End -->