<!-- Header Start -->
<div class="container-fluid bhutan-page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Bhutan</h3>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Packages Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Packages</h6>
            <h1>Bhutan Tour Packages</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="https://drive.google.com/uc?export=download&id=1JeG_PYo3QVa3Fxw4d85Q4fItYmOP8H9V" alt="">
                    <div class="p-4">
                        <div class="justify-content-between mb-3">
                            <small class="mb-3 d-block"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Bhutan</small>
                            <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>10 days</small>
                            
                        </div>
                        <a class="h5 text-decoration-none" href="">Amazing Bhutan Tour</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1FGvD6qqp4_zlJ1bh9IbCtQ0UVYC4EIdm/view">
                                    <button class="pkg-btn" >See Plan</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="https://drive.google.com/uc?export=download&id=1RqgzdKR2_7V1JyIqdm1KqJNMgHDMGuRz" alt="">
                    <div class="p-4">
                        <div class="justify-content-between mb-3">
                            <small class="mb-3 d-block"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Bhutan</small>
                            <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>8 days</small>
                            
                        </div>
                        <a class="h5 text-decoration-none" href="">Beautiful Bhutan Tour</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1p0iDI6fL0JMH6VPk22uEy60u8qHjPLGE/view">
                                <button class="pkg-btn" >See Plan</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="https://drive.google.com/uc?export=download&id=1hiw_0atL66ZmLPACwzUAreiEonFM5_eU" alt="">
                    <div class="p-4">
                        <div class="justify-content-between mb-3">
                            <small class="mb-3 d-block"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Bhutan</small>
                            <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>7 days</small>
                            
                        </div>
                        <a class="h5 text-decoration-none" href="">Best of Bhutan Tour Package</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1O6k4kMpBImPbWcw0a3O_hcll-oSdVALY/view">
                                    <button class="pkg-btn" >See Plan</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="https://drive.google.com/uc?export=download&id=1z6E3DkJfp42DWtVDCyN5zsT04YD7gJP-" alt="">
                    <div class="p-4">
                        <div class="justify-content-between mb-3">
                            <small class="mb-3 d-block"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Bhutan</small>
                            <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>9 days</small>
                            
                        </div>
                        <a class="h5 text-decoration-none" href="">Bhutan Land of Dragon</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/17W0g9TQY5XiakRTTOR01PUZK00gPuddw/view">
                                    <button class="pkg-btn" >See Plan</button>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="https://drive.google.com/uc?export=download&id=1-jb3uPZaCqsTRp_KJ64R7ya2amygAsRZ" alt="">
                    <div class="p-4">
                        <div class="justify-content-between mb-3">
                            <small class="mb-3 d-block"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Bhutan</small>
                            <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>6 days</small>
                            
                        </div>
                        <a class="h5 text-decoration-none" href="">Cultural Bhutan Tour</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1Lb_Iz_HHsTCqzRiOdmDCKcRNVDACIZ8Y/view">
                                    <button class="pkg-btn" >See Plan</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="https://drive.google.com/uc?export=download&id=1lecxbG9mSjYb2D9fes5R6I28fBI6m4K6" alt="">
                    <div class="p-4">
                        <div class="justify-content-between mb-3">
                            <small class="mb-3 d-block"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Bhutan</small>
                            <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>7 days</small>
                            
                        </div>
                        <a class="h5 text-decoration-none" href="">Delighted Bhutan Package</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1TDfwY2xQNMPcaTflSYhca61k90S_Fafs/view">
                                    <button class="pkg-btn" >See Plan</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="https://drive.google.com/uc?export=download&id=150SD3VdBOy_6utjhUy5vVj3hpRgFroBP" alt="">
                    <div class="p-4">
                        <div class="justify-content-between mb-3">
                            <small class="mb-3 d-block"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Bhutan</small>
                            <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>11 days</small>
                            
                        </div>
                        <a class="h5 text-decoration-none" href="">Gorgeous Bhutan Tour</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1OS5BXWv29qZ2abrUVSR1AQiIULqq3UJk/view">
                                    <button class="pkg-btn" >See Plan</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid package-img" src="https://drive.google.com/uc?export=download&id=13M0ZnlMyuIaYqQTymysH2LhnYp7cePVG" alt="">
                    <div class="p-4">
                        <div class="justify-content-between mb-3">
                            <small class="mb-3 d-block"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Bhutan</small>
                            <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>12 days</small>
                            
                        </div>
                        <a class="h5 text-decoration-none" href="">Memorable Bhutan Tour</a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://drive.google.com/file/d/1cA-h1onBz-zlLl5MAR6TYoh7X-Z0riuB/view">
                                    <button class="pkg-btn" >See Plan</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Packages End -->