<%- include('../components/navbar.ejs') -%>
<body>

    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Darjeeling</h3>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Packages Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Packages</h6>
                <h1>Darjeeling Tour Packages</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img" src="https://drive.google.com/uc?export=download&id=1_1EMZQkkKywjPUoj3VFK3U82ZoyYtssx" alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>4 days</small>
                                
                            </div>
                            <a class="h5 text-decoration-none" href="">Exotic Darjeeling</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1M-VJ6l6MS-7NWuC6KLkLGICOoLwl5m7M/view">
                                        <button class="pkg-btn" >See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img" src="https://drive.google.com/uc?export=download&id=1l9xlAmtCqXgNxrd7QKBSBHmde1hc9DoW" alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>
                                
                            </div>
                            <a class="h5 text-decoration-none" href="">Scenic Darjeeling</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1-b7jqN7pnZjZQOYj80VYma5pbah9X2J0/view">
                                    <button class="pkg-btn" >See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Packages End -->

</body>
<%- include('../components/footer.ejs') -%>