<body>
    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Darjeeling & Sikkim</h3>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Packages Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Packages</h6>
                <h1>Darjeeling & Sikkim Tour Packages</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1B2SV5bdOvrdxPsXAMHO6gJlUGZBfkgKW"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>8 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Amazing Hills Package</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1KQSg7PxEhQOMTZLpR4ElfbbltAlPFlrj/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1WtzLgaPjWwHOmTRSXgAk89Kkv6mu4UW5"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>8 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Delightful Himalayas</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/15cEGrPfg8PCgG8YpbpVfXMBL6sSv3J9x/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1vy14IjIqgdpktB7uFJOIN-wCcZjZBba0"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>11 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Discover Kanchenjunga</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1JbUyPs1282Xl3kFMZBkwZ6ANNrvupfpU/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1wGpwv9Ae0XyWJPaSTrC4hSDgnUtWwx-7"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>6 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Eastern Splendors Package</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1zdJLhsSCIBLdBZLFfGnyBHQNWnVFO96t/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1tXHiynN3CfA5YmCdCV3A9tYBMLEId_xZ"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>7 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Exotic Darjeeling & sikkim</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/16K0a45tRku-19GUT_D1il5ExAn15nKXC/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1wsdIJ2ijQThKf5U8otDSzr4kxxtPXA1v"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>9 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Exploring Hills Pacakge</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1MNtBjWUZBZcZnNClZAD-rgmKBa5tBM-d/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1Rnpz-CNESw0Cqx0W4Nm_YTGIUGjXSjIg"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>7 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Extreme Triangle Package</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1_BfJ2s0nyTXc9YQ2nl4oLv4iD8oXeghk/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1AHDlJqwXryhjTWnFvwehIwrMvWylc9eW"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>10 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Hidden Treasure of Sikkim</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1UjuuzhxorAjovdeXtP4g2ZA5dfS98QFs/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1kxKmHfAyFen2080BbVX_FQIKQ6YFsaXf"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>12 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Himalayan Odyssey Package</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1YJRvVfoM5oAWD0YwWenuz_7tzhrYgx_Q/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1RS8z-qaEabZZjxwu7pEm0oEfcDSmxW27"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>5 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Scenic Himalayas Package</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1u3rI0-uGUyf41Lu_Yoe3OleFPgNK0HPX/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=14CQMgzPet-lR12c_pcDHvENAapqqfy6w"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>6 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">The Beauty of Triangle</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1PWKLbilwxBfnpC17X049_JFeJ1UXlU25/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1tTGP7uzFloxWslseA7g5w9gJV_Q8nwwb"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Darjeeling & Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>9 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Unleashed Himalayas Package</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/118_cfw6HxsLDdu1PJaF-be85jtJDs6jf/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Packages End -->

</body>