<body>

    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Sikkim</h3>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Packages Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Packages</h6>
                <h1>Sikkim Tour Packages</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=19YnT1nFT8l8mJ0OeFNkC3XDMbS5X3B_A"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Amazing Gangtok</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1uOqWzl5qfF4AieQJec1E2CC4FFX6tFjj/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1na9X6xm9gWZSVIdF8fMJzcJFN3RPC8xy"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>6 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Exotic Sikkim</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/19p7rHspu0MCkqqFNZ738nOM6w6dGsIRs/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=12MYE2UohJocM-9GxfRICFRRm2LfZR3Qd"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Foothill of Kanchenjunga</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1qOIcCZX1dMTlSRXCs4snNXYrVCuiMZMj/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=171snWNSH4H1ZJ3Nyx8T81OuaiMEJiH76"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>4 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Gangtok Thrills</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1Hvt71E36uivvOgvb2O5ClNs2tImgjf8O/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1mPUjoAlaAAS4prgX0AsUEXNalMbMNuBl"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>5 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Mystical Sikkim</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1GDY5Vu9M61bNwCE6M_m_4O1PbKPy9XqS/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid package-img"
                            src="https://drive.google.com/uc?export=download&id=1tOKTL7mPgJNJwdd47O2-2nARKy9g9BkF"
                            alt="">
                        <div class="p-4">
                            <div class="justify-content-between mb-3">
                                <small class="mb-3 d-block"><i
                                        class="fa fa-map-marker-alt text-primary mr-2"></i>Sikkim</small>
                                <small class="mb-3"><i class="fa fa-calendar-alt text-primary mr-2"></i>8 days</small>

                            </div>
                            <a class="h5 text-decoration-none" href="">Natural Hills</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <a href="https://drive.google.com/file/d/1YIxNdsA-n0REctJC6-B0eqhrJCGlJ_jc/view">
                                        <button class="pkg-btn">See Plan</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Packages End -->

</body>